        .textoGuinda { color: #911A3A; font-weight: bold; }
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            opacity: 1 !important;
            font-family: 'Gibson', sans-serif;
            padding-top: 85px;
        }
        main { flex: 1; }

        .nav-pills .nav-link.active {
            background-color: #911A3A !important;
            color: #ffffff !important;
        }

        .nav-pills .nav-link:not(.active) {
            color: #911A3A !important;
        }

        .accordion-button:not(.collapsed) {
            background-color: #911A3A !important;
            color: #ffffff !important;
            box-shadow: none !important; 
        }

        .accordion-button:not(.collapsed)::after {
            filter: brightness(0) invert(1);
        }

        .accordion-button:focus {
            box-shadow: none !important;
            border-color: rgba(0,0,0,.125);
        }
        /* Estilos del Banner de Título */
        .banner-titulo {
            background-color: #911A3A;
            padding: calc(3.5rem + 85px) 0 3.5rem;
            margin-top: -85px;
            text-align: center;
        }

        .banner-titulo h1 {
            color: #ffffff;
            font-weight: 500;
            font-size: 3.2rem;
            margin: 0;
            letter-spacing: 1px;
        }